@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    margin: 0px;
    background-color: rgb(207, 250, 252);
    font-family: Dosis;
}

nav {
    position: fixed;
    background-color: lightblue;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgb(207, 250, 252);
}

nav a {
    margin: 0 10vw 0 10vw;
    font-size: 2em;
}

.logo {
    width: 10vw;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    font-size: 100px;
}

a:hover {
    color: gray;
}

main {
    padding: 15vh;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    padding: 10vh;
    background-color: lightblue;
    width: 10vw;
    height: 10vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
}

.product:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product img {
    max-height: auto;
    height: 100%;
}

.productName {
    font-size: 3vh;
    margin: -1%;
}

.productPrice {
    font-size: 3vh;
    margin: 2%;
    color: red;
}

.category {
    padding: 3%;
    background-color: lightblue;
    width: 10vw;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw;
}

.category:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category img {
    height: 50px;
    max-height: 200px;
    max-width: 100%;
}

.categoryName {
    font-size: 1em;
    margin: -1%;
    text-align: center;
}

#emailInputNewsletter {
    width: 23%;
}

#newsletterButton {
    border-radius: 30px;
    padding: 1%;
    border-color: transparent;
    background-color: lightblue;
}

#newsletterButton:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin: 0 2vw 2vh 2vw;
}

footer p, a {
    font-size: 1em;
}

form p, a, button, input{
    font-size: 1em;
}

.noStyle {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

.productImg {
    width: 20%;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}

/* Smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
}